.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   &__inner {
    background-color: #FFF;
    width: 400px;
    min-height: 400px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
    img {
        display: block;
        margin: 0 auto;
    }
    h3 {
        color: #000;
    }
    span {
        color: #000;
    }
    &__list {
        color: #000;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__close {
        width: 40px;
        height: 40px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        div {
            position: absolute;
            background-color: #000;
            width: 30px;
            height: 3px;
            &:first-child {
                transform: rotate(135deg);
            }
            &:last-child {
                transform: rotate(225deg);
            }
        }
    }
}