@import "./vars";

*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: $dark;
    color: #FFF;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}